<a href="https://colab.research.google.com/github/aminadli/Request-for-interview-Case-Study/blob/main/Request_For_Interview_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the median age of subjects in the sample size above?

2. What is the average salary difference of a person with only a diploma vs one with a Master's degree?

3. Does age affect the salary of someone with a diploma? Please justify in mathematical terms.

4. How much do you think a diploma holder will be earning at the age of 40? Please share your hypothesis & the calculations that lead to that outcome.

5. What kind of phone do you think someone who earns RM 5,000 & above per month will possess? Kindly advise on your assumptions, and the calculations you considered.

6. What is the most preferred way of requesting an interview for someone who spends more than RM 2,000 for their phone?

7. If we wanted to introduce the concept of employability (likelihood of someone being hired) in the mix, what kind of additional data would you factor into your calculations?

8. What is your experience in running an experiment? Can you describe what you were trying to achieve from your experiment, and how one can usefully apply the data you obtained. from your project for future experiments?

9. What is your favourite website or app? If someone asked you to describe how much better your preferred website or app is against the others, how would you go about doing this?

10. If you are required to build a decision tree data mining algorithm to predict a winning candidate based on a given job, kindly describe how you your approach would be like.

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/aminadli/Request-for-interview-Case-Study/main/Request%20For%20Interview%20Case%20Study%20-%20unnamed%20(4).csv")

In [4]:
df.head()

,Name,Age,Gender,Annual Income,Education,Phone Owned,Email,Web,Mobile,Walk-In,Video Call,Phone Call,Letter
0,Ali,22,M,"$15,000.00",Highschool,Samsung Galaxy S3,x,x,x,x,NaN,NaN,NaN
1,Mutu,25,M,"$3,000.00",Diploma,HTC One Note,x,x,x,NaN,NaN,NaN,NaN
2,Lim,33,M,"$3,600.00",Diploma,iPhone 5,x,x,x,NaN,x,NaN,NaN
3,Angie,47,F,"$45,000.00",Diploma,iPhone 6s,x,NaN,NaN,x,x,x,x
4,Jack,26,M,"$2,500.00",Degree,Xiaomi M13,x,x,x,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            20 non-null     object
 1   Age             20 non-null     int64
 2   Gender          20 non-null     object
 3   Annual Income   20 non-null     object
 4   Education       20 non-null     object
 5   Phone Owned     20 non-null     object
 6   Email           19 non-null     object
 7   Web             13 non-null     object
 8   Mobile          14 non-null     object
 9   Walk-In         5 non-null      object
 10  Video Call      8 non-null      object
 11  Phone Call      5 non-null      object
 12  Letter          3 non-null      object
dtypes: int64(1), object(12)
memory usage: 2.2+ KB

1. What is the median age of subjects in the sample size above?

In [5]:
# Extract ages as a Series
ages = df['Age']

In [6]:
# Calculate the median age using pandas
median_age = ages.median()

In [7]:
print(f"The median age is: {median_age}")

The median age is: 27.5

2. What is the average salary difference of a person with only a diploma vs one with a Master's degree?

In [8]:
print(df.columns)

Index(['Name', 'Age', 'Gender', 'Annual Income', 'Education', 'Phone Owned',
       'Email', 'Web', 'Mobile', 'Walk-In', 'Video Call', 'Phone Call',
       'Letter'],
      dtype='object')

In [9]:
# Remove dollar signs and convert income into numerics for calculations
df['Income'] = df['Annual Income'].str.replace('[\$,]', '', regex=True).astype(float)

In [10]:
# Group DataFrame by education and calculate average income
average_income_by_education = df.groupby('Education')['Income'].mean()

In [11]:
# Calculate the difference
difference = average_income_by_education['Diploma'] - average_income_by_education['Masters']

In [12]:
print(f"The average salary difference between diploma and highschool is: ${difference:.2f}")

The average salary difference between diploma and highschool is: $8900.00

3. Does age affect the salary of someone with a diploma? Please justify in mathematical terms.

In [ ]:
# Filter for diploma holders only

In [14]:
diploma_df = df[df['Education'] == 'Diploma']

In [17]:
# Check if there's enough data for analysis (at least 2 diploma holders)
if len(diploma_df) < 2:
  print("Insufficient data for analysis. Need at least 2 diploma holders.")
else:
  # Correlation coefficient (linear relationship)
  correlation = diploma_df['Age'].corr(diploma_df['Income'])

  # Print the correlation coefficient
  print(f"Correlation coefficient between age and income (diploma): {correlation:.2f}")

Correlation coefficient between age and income (diploma): 0.84

In [ ]:
# Interpretation
  # A positive correlation close to 1 indicates a positive relationship (higher age, higher income).
  # A negative correlation close to -1 indicates a negative relationship (higher age, lower income).

kat atas tambah sikit ikut code bawah

Since the correlation is 0.84, it is closer to 1 hence age affect salary of someone with a diploma. However Correlation doesn't imply causation. Just because two variables are correlated doesn't necessarily mean that changes in one variable cause changes in the other. There might be a more variable influencing factor causing the observed correlation.

4. How much do you think a diploma holder will be earning at the age of 40? Please share your hypothesis & the calculations that lead to that outcome.

In [18]:
# Check for sufficient data
if len(diploma_df) < 2:
  print("Insufficient data for analysis. Need at least 2 diploma holders.")
else:
  # Average income for diploma holders
  avg_income_diploma = diploma_df['Income'].mean()
  print(f"Average annual income (diploma): ${avg_income_diploma:.2f}")

  # Analyze correlation (refer to previous exercise for code)
  correlation = diploma_df['Age'].corr(diploma_df['Income'])
  print(f"Correlation coefficient between age and income (diploma): {correlation:.2f}")

  # Hypothesis (considering limitations)
  if correlation > 0:
    print("\n**Hypothesis:** Based on the positive correlation (if any), a 40-year-old diploma holder might earn on average more than someone younger. However, this is a hypothesis due to limitations in data and correlation not implying causation.")
  else:
    print("\n**Limited Insight:** The correlation between age and income is not strong enough to form a reliable hypothesis about income at a specific age (40).")

Average annual income (diploma): $16650.00
Correlation coefficient between age and income (diploma): 0.84

**Hypothesis:** Based on the positive correlation (if any), a 40-year-old diploma holder might earn on average more than someone younger. However, this is a hypothesis due to limitations in data and correlation not implying causation.

5. What kind of phone do you think someone who earns RM 5,000 & above per month will possess? Kindly advise on your assumptions, and the calculations you considered.

In [19]:
high_income_df = df[df['Income'] >= 5000]  # Assuming MYR currency (modify if different)

In [20]:
high_income_df.head()

,Name,Age,Gender,Annual Income,Education,Phone Owned,Email,Web,Mobile,Walk-In,Video Call,Phone Call,Letter,Income
0,Ali,22,M,"$15,000.00",Highschool,Samsung Galaxy S3,x,x,x,x,NaN,NaN,NaN,15000.0
3,Angie,47,F,"$45,000.00",Diploma,iPhone 6s,x,NaN,NaN,x,x,x,x,45000.0
7,Valerie,32,F,"$8,000.00",Masters,iPhone 3Gs,x,x,x,NaN,x,NaN,NaN,8000.0
13,Aishah,45,F,"$42,000.00",Diploma,Lenovo VI BE Shot,x,NaN,NaN,NaN,NaN,NaN,NaN,42000.0
17,Jill,29,F,"$7,500.00",Masters,iPhone 6s,x,x,NaN,NaN,x,NaN,NaN,7500.0

In [21]:
brand_counts = high_income_df['Phone Owned'].value_counts()

In [22]:
brand_counts.head()

Phone Owned
iPhone 6s            2
Samsung Galaxy S3    1
iPhone 3Gs           1
Lenovo VI BE Shot    1
Name: count, dtype: int64

The results shows that the number of Iphone users is more than the number of android user hence someone who earns RM 5,000 & above per month will more likely to possess Iphone. However, dataset is quite limited, and phone ownership can be influenced by factors beyond income.

6. What is the most preferred way of requesting an interview for someone who spends more than RM 2,000 for their phone?