<a href="https://colab.research.google.com/github/aminadli/Request-for-interview-Case-Study/blob/main/Request_For_Interview_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is the median age of subjects in the sample size above?

What is the average salary difference of a person with only a diploma vs one with a Master's degree?

Does age affect the salary of someone with a diploma? Please justify in mathematical terms.

How much do you think a diploma holder will be earning at the age of 40? Please share your hypothesis & the calculations that lead to that outcome.

What kind of phone do you think someone who earns RM 5,000 & above per month will possess? Kindly advise on your assumptions, and the calculations you considered.

What is the most preferred way of requesting an interview for someone who spends more than RM 2,000 for their phone?

If we wanted to introduce the concept of employability (likelihood of someone being hired) in the mix, what kind of additional data would you factor into your calculations?

What is your experience in running an experiment? Can you describe what you were trying to achieve from your experiment, and how one can usefully apply the data you obtained. from your project for future experiments?

What is your favourite website or app? If someone asked you to describe how much better your preferred website or app is against the others, how would you go about doing this?

If you are required to build a decision tree data mining algorithm to predict a winning candidate based on a given job, kindly describe how you your approach would be like.

In [ ]:
iimport numpy as np
import pandas as pdmimport numpy as np
import pandas as pdpimport numpy as np
import pandas as pdoimport numpy as np
import pandas as pdrimport numpy as np
import pandas as pdtimport numpy as np
import pandas as pd import numpy as np
import pandas as pdnimport numpy as np
import pandas as pduimport numpy as np
import pandas as pdmimport numpy as np
pimport numpy as np
import pandas as pdyimport numpy as np
import pandas as pd import numpy as np
import pandas as pdaimport numpy as np
import pandas as pdsimport numpy as np
import pandas as pd import numpy as np
import pandas as pdnimport numpy as np
import pandas as pdpimport numpy as np
import pandas as pd
import numpy as np
iimport numpy as np
import pandas as pdmimport numpy as np
import pandas as pdpimport numpy as np
import pandas as pdoimport numpy as np
import pandas as pdrimport numpy as np
import pandas as pdtimport numpy as np
import pandas as pd import numpy as np
import pandas as pdpimport numpy as np
import pandas as pdaimport numpy as np
import pandas as pdnimport numpy as np
dimport numpy as np
import pandas as pdaimport numpy as np
import pandas as pdsimport numpy as np
import pandas as pd import numpy as np
import pandas as pdaimport numpy as np
import pandas as pdsimport numpy as np
import pandas as pd import numpy as np
import pandas as pdpimport numpy as np
import pandas as pddimport numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/aminadli/Request-for-interview-Case-Study/main/Request%20For%20Interview%20Case%20Study%20-%20unnamed%20(4).csv")

In [5]:
df.info

<bound method DataFrame.info of    Request for Interview Unnamed: 1 Unnamed: 2      Unnamed: 3  Unnamed: 4  \
0                  Name        Age     Gender   Annual Income   Education
1                    Ali         22          M      $15,000.00  Highschool
2                   Mutu         25          M       $3,000.00     Diploma
3                    Lim         33          M       $3,600.00     Diploma
4                  Angie         47          F      $45,000.00     Diploma
5                   Jack         26          M       $2,500.00      Degree
6                Mambutu         35         M        $1,800.00     Primary
7                 Pierre         54          M       $1,200.00      Degree
8                Valerie         32          F       $8,000.00     Masters
9                  Farah         19          F       $1,200.00     Primary
10              Muhammad         22          M       $1,600.00     Primary
11                Regina         22          F       $1,500.00  Highschool
12                Trevor         25          M       $3,000.00     Diploma
13               Melinda         39          F       $3,300.00     Diploma
14                Aishah         45          F      $42,000.00     Diploma
15              Abdullah         26          M       $2,500.00      Degree
16                 Rizal         35          M       $1,800.00     Primary
17                  Wong         51          M       $1,100.00      Degree
18                  Jill         29          F       $7,500.00     Masters
19                 Polly         21          F       $1,220.00     Primary
20                 Wanda         23          F       $1,700.00     Primary

           Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8           Unnamed: 9  \
0        Phone Owned      Email        Web     Mobile              Walk-In
1   Samsung Galaxy S3          x          x          x                    x
2        HTC One Note          x          x          x                  NaN
3            iPhone 5          x          x          x                  NaN
4           iPhone 6s          x        NaN        NaN  x
5          Xiaomi M13          x          x          x                  NaN
6    Hua Wei Honour 6          x          x          x  x
7           Nokia E63          x        NaN        NaN                  NaN
8          iPhone 3Gs          x          x          x                  NaN
9        HTC Mozart 7        NaN        NaN          x                    x
10         HTC One E8          x          x          x                  NaN
11          iPhone 6+          x          x          x                  NaN
12          OnePlus 2          x        NaN          x                  NaN
13  Samsung Galaxy A8          x        NaN        NaN                  NaN
14  Lenovo VI BE Shot          x        NaN        NaN                  NaN
15          iPhone 5s          x          x          x                  NaN
16         Xiaomi M13          x          x          x                  NaN
17         iPhone 6s+          x        NaN        NaN                  NaN
18          iPhone 6s          x          x        NaN                  NaN
19  Xiaomi Pad Tablet          x          x          x                    x
20         Xiaomi M14          x          x          x                  NaN

    Unnamed: 10          Unnamed: 11 Unnamed: 12
0   Video Call           Phone Call      Letter
1           NaN                  NaN         NaN
2           NaN                  NaN         NaN
3             x                  NaN         NaN
4             x  x                             x
5           NaN                  NaN         NaN
6             x                    x         NaN
7           NaN  x                             x
8             x                  NaN         NaN
9           NaN                    x         NaN
10          NaN                  NaN         NaN
11            x                  NaN         NaN
12          NaN                  NaN         NaN
13          NaN                  NaN         NaN
14          NaN                  NaN         NaN
15            x                  NaN         NaN
16          NaN                  NaN         NaN
17            x  x                             x
18            x                  NaN         NaN
19          NaN                  NaN         NaN
20          NaN                  NaN         NaN  >