<a href="https://colab.research.google.com/github/aminadli/Request-for-interview-Case-Study/blob/main/Request_For_Interview_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the median age of subjects in the sample size above?

2. What is the average salary difference of a person with only a diploma vs one with a Master's degree?

3. Does age affect the salary of someone with a diploma? Please justify in mathematical terms.

4. How much do you think a diploma holder will be earning at the age of 40? Please share your hypothesis & the calculations that lead to that outcome.

5. What kind of phone do you think someone who earns RM 5,000 & above per month will possess? Kindly advise on your assumptions, and the calculations you considered.

6. What is the most preferred way of requesting an interview for someone who spends more than RM 2,000 for their phone?

7. If we wanted to introduce the concept of employability (likelihood of someone being hired) in the mix, what kind of additional data would you factor into your calculations?

8. What is your experience in running an experiment? Can you describe what you were trying to achieve from your experiment, and how one can usefully apply the data you obtained. from your project for future experiments?

9. What is your favourite website or app? If someone asked you to describe how much better your preferred website or app is against the others, how would you go about doing this?

10. If you are required to build a decision tree data mining algorithm to predict a winning candidate based on a given job, kindly describe how you your approach would be like.

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [61]:
df = pd.read_csv("https://raw.githubusercontent.com/aminadli/Request-for-interview-Case-Study/main/Request%20For%20Interview%20Case%20Study%20(%2B%20phone%20price)%20-%20Request%20For%20Interview%20Case%20Study%20(%2B%20phone%20price).csv.csv")

In [62]:
print(df)

        Name  Age Gender Annual Income   Education        Phone Owned  \
0        Ali   22      M    $15,000.00  Highschool  Samsung Galaxy S3
1       Mutu   25      M    $30,000.00     Diploma       HTC One Note
2        Lim   33      M    $36,000.00     Diploma           iPhone 5
3      Angie   47      F    $45,000.00     Diploma          iPhone 6s
4       Jack   26      M    $25,000.00      Degree        Xiaomi MI 3
5    Mambutu   35      M    $18,000.00     Primary   Hua Wei Honour 6
6     Pierre   54      M   $120,000.00      Degree          Nokia E63
7    Valerie   32      F    $80,000.00     Masters         iPhone 3Gs
8      Farah   19      F    $12,000.00     Primary       HTC Mozart 7
9   Muhammad   22      M    $16,000.00     Primary         HTC One E8
10    Regina   22      F    $15,000.00  Highschool          iPhone 6+
11    Trevor   25      M    $30,000.00     Diploma          OnePlus 2
12   Melinda   39      F    $33,000.00     Diploma  Samsung Galaxy A8
13    Aishah   45      F    $42,000.00     Diploma  Lenovo VI BE Shot
14  Abdullah   26      M    $25,000.00      Degree          iPhone 5s
15     Rizal   35      M    $18,000.00     Primary        Xiaomi MI 3
16      Wong   51      M   $110,000.00      Degree         iPhone 6s+
17      Jill   29      F    $75,000.00     Masters          iPhone 6s
18     Polly   21      F    $12,200.00     Primary  Xiaomi Pad Tablet
19     Wanda   23      F    $17,000.00     Primary        Xiaomi MI 4

   Phone Price Email  Web Mobile Walk-In Video Call Phone Call Letter
0        2,199     x    x      x       x        NaN        NaN    NaN
1         2299     x    x      x     NaN        NaN        NaN    NaN
2         2199     x    x      x     NaN          x        NaN    NaN
3         3199     x  NaN    NaN       x          x          x      x
4          889     x    x      x     NaN        NaN        NaN    NaN
5          999     x    x      x       x          x          x    NaN
6            0     x  NaN    NaN     NaN        NaN          x      x
7         2490     x    x      x     NaN          x        NaN    NaN
8          950   NaN  NaN      x       x        NaN          x    NaN
9         1699     x    x      x     NaN        NaN        NaN    NaN
10        2749     x    x      x     NaN          x        NaN    NaN
11        1413     x  NaN      x     NaN        NaN        NaN    NaN
12        1559     x  NaN    NaN     NaN        NaN        NaN    NaN
13        1399     x  NaN    NaN     NaN        NaN        NaN    NaN
14        2349     x    x      x     NaN          x        NaN    NaN
15         889     x    x      x     NaN        NaN        NaN    NaN
16        3699     x  NaN    NaN     NaN          x          x      x
17        3199     x    x    NaN     NaN          x        NaN    NaN
18         879     x    x      x       x        NaN        NaN    NaN
19        1199     x    x      x     NaN        NaN        NaN    NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           20 non-null     object
 1   Age            20 non-null     int64
 2   Gender         20 non-null     object
 3   Annual Income  20 non-null     object
 4   Education      20 non-null     object
 5   Phone Owned    20 non-null     object
 6   Phone Price    19 non-null     object
 7   Email          19 non-null     object
 8   Web            13 non-null     object
 9   Mobile         14 non-null     object
 10  Walk-In        5 non-null      object
 11  Video Call     8 non-null      object
 12  Phone Call     5 non-null      object
 13  Letter         3 non-null      object
dtypes: int64(1), object(13)
memory usage: 2.3+ KB

1. What is the median age of subjects in the sample size above?

In [6]:
# Extract ages as a Series
ages = df['Age']

In [7]:
# Calculate the median age using pandas
median_age = ages.median()

In [8]:
print(f"The median age is: {median_age}")

The median age is: 27.5

2. What is the average salary difference of a person with only a diploma vs one with a Master's degree?

In [9]:
print(df.columns)

Index(['Name', 'Age', 'Gender', 'Annual Income', 'Education', 'Phone Owned',
       'Phone Price', 'Email', 'Web', 'Mobile', 'Walk-In', 'Video Call',
       'Phone Call', 'Letter'],
      dtype='object')

In [10]:
# Remove dollar signs and convert income into numerics for calculations
df['Income'] = df['Annual Income'].str.replace('[\$,]', '', regex=True).astype(float)

In [11]:
# Group DataFrame by education and calculate average income
average_income_by_education = df.groupby('Education')['Income'].mean()

In [15]:
average_income_by_education['Diploma']

36000.0

In [16]:
average_income_by_education['Masters']

77500.0

In [17]:
# Calculate the difference
difference = average_income_by_education['Masters'] - average_income_by_education['Diploma']

In [18]:
print(f"The average salary difference between diploma and highschool is: ${difference:.2f}")

The average salary difference between diploma and highschool is: $41500.00

3. Does age affect the salary of someone with a diploma? Please justify in mathematical terms.

In [20]:
# Filter for diploma holders only
diploma_df = df[df['Education'] == 'Diploma']

In [21]:
diploma_df.head()

,Name,Age,Gender,Annual Income,Education,Phone Owned,Phone Price,Email,Web,Mobile,Walk-In,Video Call,Phone Call,Letter,Income
1,Mutu,25,M,"$30,000.00",Diploma,HTC One Note,2299,x,x,x,NaN,NaN,NaN,NaN,30000.0
2,Lim,33,M,"$36,000.00",Diploma,iPhone 5,2199,x,x,x,NaN,x,NaN,NaN,36000.0
3,Angie,47,F,"$45,000.00",Diploma,iPhone 6s,3199,x,NaN,NaN,x,x,x,x,45000.0
11,Trevor,25,M,"$30,000.00",Diploma,OnePlus 2,1413,x,NaN,x,NaN,NaN,NaN,NaN,30000.0
12,Melinda,39,F,"$33,000.00",Diploma,Samsung Galaxy A8,1559,x,NaN,NaN,NaN,NaN,NaN,NaN,33000.0

In [24]:
print(diploma_df)

       Name  Age Gender Annual Income Education        Phone Owned  \
1      Mutu   25      M    $30,000.00   Diploma       HTC One Note
2       Lim   33      M    $36,000.00   Diploma           iPhone 5
3     Angie   47      F    $45,000.00   Diploma          iPhone 6s
11   Trevor   25      M    $30,000.00   Diploma          OnePlus 2
12  Melinda   39      F    $33,000.00   Diploma  Samsung Galaxy A8
13   Aishah   45      F    $42,000.00   Diploma  Lenovo VI BE Shot

   Phone Price Email  Web Mobile Walk-In Video Call Phone Call Letter   Income
1         2299     x    x      x     NaN        NaN        NaN    NaN  30000.0
2         2199     x    x      x     NaN          x        NaN    NaN  36000.0
3         3199     x  NaN    NaN       x          x          x      x  45000.0
11        1413     x  NaN      x     NaN        NaN        NaN    NaN  30000.0
12        1559     x  NaN    NaN     NaN        NaN        NaN    NaN  33000.0
13        1399     x  NaN    NaN     NaN        NaN        NaN    NaN  42000.0

In [25]:
# Check if there's enough data for analysis (at least 2 diploma holders)
if len(diploma_df) < 2:
  print("Insufficient data for analysis. Need at least 2 diploma holders.")
else:
  # Correlation coefficient (linear relationship)
  correlation = diploma_df['Age'].corr(diploma_df['Income'])

  # Print the correlation coefficient
  print(f"Correlation coefficient between age and income (diploma): {correlation:.2f}")

   # Hypothesis (considering limitations)
  if correlation > 0:
    print("A positive correlation close to 1 indicates a positive relationship (higher age, higher income).")
  else:
    print("A negative correlation close to -1 indicates a negative relationship (higher age, lower income).")

Correlation coefficient between age and income (diploma): 0.91
A positive correlation close to 1 indicates a positive relationship (higher age, higher income).

In [24]:
# Interpretation
  # A positive correlation close to 1 indicates a positive relationship (higher age, higher income).
  # A negative correlation close to -1 indicates a negative relationship (higher age, lower income).

Since the correlation is 0.84, it is closer to 1 hence age affect salary of someone with a diploma. However Correlation doesn't imply causation. Just because two variables are correlated doesn't necessarily mean that changes in one variable cause changes in the other. There might be a more variable influencing factor causing the observed correlation.

4. How much do you think a diploma holder will be earning at the age of 40? Please share your hypothesis & the calculations that lead to that outcome.

In [39]:
# 1. Filter diploma holders
diploma_df = df[df['Education'] == 'Diploma']

In [40]:
# 2. Sort by Age (youngest to oldest)
sorted_df = diploma_df.sort_values(by='Age')

In [45]:
# 3. Calculate average income increment (assuming numerical income values)
income_change = sorted_df['Income'].diff()

In [46]:
# Calculate the average income increment
average_increment = income_change.mean(skipna=True)  # Skip the first missing value

In [47]:
print(average_increment)

3000.0

In [48]:
# 4.Predict income for a 40-year-old diploma holder
# Assuming a starting income equal to the first diploma holder's income
starting_income = sorted_df['Income'].iloc[0]
predicted_income_at_40 = starting_income + average_increment * (40 - sorted_df['Age'].iloc[0])

In [50]:
print("Average income increment for diploma holders:", average_increment)

Average income increment for diploma holders: 3000.0

In [51]:
print("Predicted income for a 40-year-old diploma holder:", predicted_income_at_40)

Predicted income for a 40-year-old diploma holder: 75000.0

5. What kind of phone do you think someone who earns RM 5,000 & above per month will possess? Kindly advise on your assumptions, and the calculations you considered.

In [53]:
high_income_df = df[df['Income'] >= 60000]  # RM5000 x 12 month

In [54]:
print(high_income_df)

       Name  Age Gender Annual Income Education Phone Owned Phone Price Email  \
6    Pierre   54      M   $120,000.00    Degree   Nokia E63         NaN     x
7   Valerie   32      F    $80,000.00   Masters  iPhone 3Gs        2490     x
16     Wong   51      M   $110,000.00    Degree  iPhone 6s+        3699     x
17     Jill   29      F    $75,000.00   Masters   iPhone 6s        3199     x

    Web Mobile Walk-In Video Call Phone Call Letter    Income
6   NaN    NaN     NaN        NaN          x      x  120000.0
7     x      x     NaN          x        NaN    NaN   80000.0
16  NaN    NaN     NaN          x          x      x  110000.0
17    x    NaN     NaN          x        NaN    NaN   75000.0

In [55]:
brand_counts = high_income_df['Phone Owned'].value_counts()

In [56]:
print(brand_counts)

Phone Owned
Nokia E63     1
iPhone 3Gs    1
iPhone 6s+    1
iPhone 6s     1
Name: count, dtype: int64

The results shows that the number of Iphone users is significantly higher than nokia user hence someone who earns RM 5,000 & above per month will more likely to possess Iphone. However, dataset is quite limited, and phone ownership can be influenced by factors beyond income.

6. What is the most preferred way of requesting an interview for someone who spends more than RM 2,000 for their phone?

In [63]:
# Convert 'Phone Price' to numeric (assuming numerical values after removing symbols)
df['Phone Price'] = df['Phone Price'].str.replace(',', '', regex=True).astype(int)

In [64]:
# Filter for people who spent more than 2000 on a phone
filtered_df = df[df['Phone Price'] > 2000]

In [65]:
# Print the filtered DataFrame
print(filtered_df)

        Name  Age Gender Annual Income   Education        Phone Owned  \
0        Ali   22      M    $15,000.00  Highschool  Samsung Galaxy S3
1       Mutu   25      M    $30,000.00     Diploma       HTC One Note
2        Lim   33      M    $36,000.00     Diploma           iPhone 5
3      Angie   47      F    $45,000.00     Diploma          iPhone 6s
7    Valerie   32      F    $80,000.00     Masters         iPhone 3Gs
10    Regina   22      F    $15,000.00  Highschool          iPhone 6+
14  Abdullah   26      M    $25,000.00      Degree          iPhone 5s
16      Wong   51      M   $110,000.00      Degree         iPhone 6s+
17      Jill   29      F    $75,000.00     Masters          iPhone 6s

    Phone Price Email  Web Mobile Walk-In Video Call Phone Call Letter
0          2199     x    x      x       x        NaN        NaN    NaN
1          2299     x    x      x     NaN        NaN        NaN    NaN
2          2199     x    x      x     NaN          x        NaN    NaN
3          3199     x  NaN    NaN       x          x          x      x
7          2490     x    x      x     NaN          x        NaN    NaN
10         2749     x    x      x     NaN          x        NaN    NaN
14         2349     x    x      x     NaN          x        NaN    NaN
16         3699     x  NaN    NaN     NaN          x          x      x
17         3199     x    x    NaN     NaN          x        NaN    NaN

From the filtered df we can conclude that Email is the most preferred way

7. If we wanted to introduce the concept of employability (likelihood of someone being hired) in the mix, what kind of additional data would you factor into your calculations?


- I would suggest volunteer work because in my opinion volunteer experiences showcase an individual's passion for a cause or field, potentially indicating a strong work ethic and genuine interest beyond just a paycheck. This information, combined with traditional factors like skills and education, can paint a more holistic picture of a candidate's potential fit and dedication.

 8. What is your experience in running an experiment? Can you describe what you were trying to achieve from your experiment, and how one can usefully apply the data you obtained. from your project for future experiments?

 - I have ran plenty of experiment since school up until my degree but I have one experiment purely only for personal gain. That experiment is how to get a perfect fried chicken. It sounds really basic but when i learn how to cook I really struggle because all the tutorial does not really go into details and I really struggle with the term estimate. The conclusion that I get is:

 - Chicken around 2kg  cut into 8 piece
 - Make a incision across the meat on both side
 - Marinate in 'tepung bestari' for minimum 8 hour
 - Heat the oil on high heat
 - Put bone side first because if done inversely the myoglobin liquid will get trapped resulting the middle part of the chicken's texture not uniform
 - Let for 60 seconds
 - Switch for middle heat and let sit for 7 minutes
 - Flip and let sit for 5 minutes
 - Switch to high heat and let sit for another 60 seconds and the chicken is ready
 - Perfect chicken with crunchy batter and juicy inside

 - For future experiment, since the data is established for chicken around 2kg cut into 8 piece, the variable can be adjusted to fit smaller or bigger size chicken with other various number of chicken piece

9. What is your favourite website or app? If someone asked you to describe how much better your preferred website or app is against the others, how would you go about doing this?

- My favorite app is Alpha Progression. The app is basically a gym logger. This app stand out compared to other similar app because aside from gym logger it also provide built in video tutorial for the choosen exercise. This feature really helps beginner to learn how to exercise. Another unique feature is the app allow us to export the log into excel. I really like this particular feature because that allows me to show my progress in more professional method

10. If you are required to build a decision tree data mining algorithm to predict a winning candidate based on a given job, kindly describe how you your approach would be like.